body {
    font-family: 'Courier New', Courier, monospace;
    background: beige;
    font-size: larger;
    font-weight: 600;
}

#linkTextSwap {
    color: magenta
}

a {
    text-decoration: none;
    color:darkslategrey
}

ul {
    margin-left: 50px;
    
}